
tools/Script Code Support/.vs
tools/Script Code Support/x64
tools/Script Code Support/Script Code Support/x64
tools/Script Code Support/Script Code Support/Script Code Support.vcxproj
tools/Script Code Support/Script Code Support/Script Code Support.vcxproj.filters
tools/Script Code Support/Script Code Support/Script Code Support.vcxproj.user
tools/Ability_Generator/bin
output/